/* {
    background-color: cyan;
}*/

body{
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}

h2 + button {
    font-size: 20px;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

/*a[href*="google"]{
    color: magenta;
}*/

.post button:hover {
    background-color: darkred;
    color: #f1faee;
}

a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

/* specicity versus order
p::selection {
    background-color: #fcbf49;
}

::selection {
    background-color: #fcbf49;
}
--

--order specicity example--
1.
.post button:hover {
    background-color: darkred;
    color: #f1faee;
} 

2.
button:hover {
    background-color: olive;
    font-size: 10px;
}*/